:root {
  --font: "Josefin Slab", serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  font-family: var(--font);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  color: #333;
}

.container {
  max-width: 117rem;
  margin: 0 auto;
  padding: 0 2rem;
}

h1 {
  font-weight: 400;
}

.counter {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

@media only screen and (max-width: 540px) {
  .counter {
    flex-direction: column;
    align-items: stretch;
  }
}

.counter__button {
  flex: 1;
  padding: 0.5rem 2rem;
}

.counter__value {
  display: flex;
  flex: 1;
  justify-content: center;
}
