:root {
  --font: "Josefin Slab", serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  font-family: var(--font);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  color: #333;
}

.container {
  max-width: 117rem;
  margin: 0 auto;
  padding: 0 2rem;
}

h1 {
  font-weight: 400;
}

.counter {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin-bottom: 2rem;
}

@media only screen and (max-width: 540px) {
  .counter {
    flex-direction: column;
    align-items: stretch;
  }
}

.counter__button {
  flex: 1;
  padding: 0.5rem 2rem;
}

.counter__value {
  display: flex;
  flex: 1;
  justify-content: center;
}

.tasks-box {
  display: flex;
  flex-direction: column;
}

.tasks-box__button {
  flex: 1;
  padding: 0.5rem 2rem;
}

.tasks-box__tasks {
  display: flex;
  flex-direction: column;
  padding: 1rem 0rem;
}

.tasks-box__task {
  border: 0.1rem solid rgb(156, 156, 156);
  padding: 1rem;
  margin: 0.5rem 0rem;
  font-size: 2rem;

  display: flex;
}

.tasks-box__task--cnt {
  margin-right: auto;
}

.tasks-box__task--btn {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.tasks-box__task--btnd {
  padding: 0.5rem 2rem;
}

.tasks-box__loading {
  display: flex;
  flex-direction: column;
  padding: 1rem 0rem;
  min-height: 85vh;
  align-items: center;
  justify-content: center;
}

.tasks-box__spinner {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  animation: spinner 1s infinite;
  /* border: 0.2rem solid transparent; */
  border-right: 0.2rem solid transparent;
  border-top: 0.2rem solid #333;
  border-bottom: 0.2rem solid #333;
  border-left: 0.2rem solid transparent;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
